### 9장 클래스와 객체지향 프로그래밍

#### 예제1) 벡터의 크기 비교하기 <br>v1 > v2 특수 메소드를 구현하라<br>벡터의 크기는 각 성분값을 제곱하고 더한것을 제곱근 하여 구한다.

In [8]:
class Vector2D:
    def __init__(self,x,y):
        self.__x = x
        self.__y = y
    def __gt__(self,other):
        return (self.__x**2 + self.__y**2)**0.5 > (other.__x**2 + other.__y**2)**0.5
    def __ge__(self,other):
        return (self.__x**2 + self.__y**2)**0.5 >= (other.__x**2 + other.__y**2)**0.5
    def __lt__(self,other):
        return (self.__x**2 + self.__y**2)**0.5 < (other.__x**2 + other.__y**2)**0.5
    def __le__(self,other):
        return (self.__x**2 + self.__y**2)**0.5 <= (other.__x**2 + other.__y**2)**0.5
        
v1 = Vector2D(30,40)
v2 = Vector2D(10,20)
print(v1 > v2)

True

### 10장 람다함수와 리스트 축약

#### 람다함수<br>람다함수 :1회용 함수를 만드는 것. 익명 함수라는 이름도 가짐<br>lambda x,y : x+y<br><br>lambda [ 매개변수, ] : [표현식,]

In [9]:
add = lambda x,y : x+y   #람다함수
add(100,200)

300

In [10]:
(lambda x,y:x+y)(100,200)  #인라인람다함수

300

#### 필터함수 : 조건에서 True인것만 뽑아온다 filter(함수, 반복가능한 객체)

In [12]:
ages = [32,39,20,18,13]

for a in filter(lambda X : X>=19,ages):  #람다함수가 필터의 역할을 한다
    print(a)

32
39
20

#### string, range , 리스트, 튜플 : 반복가능한 객체만 람다, 필터함수를 쓰는것이 가능하다!

In [13]:
n_list = [-1,0,1,2,-3,-5]
minus_list = list(filter(lambda x : x< 0,n_list))
print(minus_list)

[-1, -3, -5]

#### 예제 2) 0~20난수 20개를 발생시켜서 짝수인것만 리스트로 만들어라

In [29]:
import random as rd
even_list = list(filter(lambda x : x%2==0,[rd.randint(0,20) for _ in range(20)] ))
print(even_list)

[14, 6, 18, 8, 0, 20, 12, 8, 20, 2]

In [36]:
import numpy as np
lst = np.random.randint(0,20,size=20) #랜덤으로 size개수만큼 뽑아서 리스트로 만들어줌
print(lst)

[ 0 18 10  6 15  5 19  9 13  0 13 18  6  8 19  0  5 15  9  3]

#### 맵 함수 map

#### map (함수, 반복가능 객체)

In [35]:
a= [1,2,3,4,5,6,7]
square_a = list(map(lambda x : x**2,a))
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

#### n_list =  [10,20,30] 를 3배한 뒤 map() 함수에 넣은 결과를 출력하라

In [41]:
n_list = [10,20,30]
print(list(map(lambda x : 3*x,n_list)))

[30, 60, 90]

#### lambda함수를 사용하면 코드가 간결해진다. 다만 가독성이 떨어진다.

### reduce함수 : 반복가능한 객체, functools를 사용해서 불러와야함, 재귀호출같은 역할을 함

In [43]:
from functools import reduce
a = [1,2,3,4]
n = reduce(lambda x,y:x+y,a)
print(n)

10

#### reduce()함수를 사용하여 1에서 100까지 정수의 합을 구하여라, 이때 range(1,101)을 입력으로 사용하라

In [48]:
from functools import reduce
print("1에서 100까지의 합 :",reduce(lambda x,y:x+y,[x for x in range(1,101)]))

1에서 100까지의 합 : 5050

#### reduce()함수를 사용하여 10!을 구하여라, 이때 range(1,11)을 입력으로 사용하라

In [49]:
from functools import reduce
print("10! =",reduce(lambda x,y:x*y,[x for x in range(1,11)]))

10! = 3628800

### 리스트 축약 list comprehension

#### [ 표현식 for 변수 in 반복자/연속열 if 조건식 ]

In [50]:
print("cubic =",[x**3 for x in range(1,11)])

cubic = [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [51]:
lst = list(map(int,input().split()))

1 2 3 4

In [61]:
lst = ["{} x {} = {}".format(x,y,x*y) for x in range(2,10) for y in range(1,10)]
for i in lst:
    print(i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [65]:
lst = [x*y for x in range(2,10) for y in range(1,10)]
print(*set(lst))

2 3 4 5 6 7 8 9 10 12 14 15 16 18 20 21 24 25 27 28 30 32 35 36 40 42 45 48 49 54 56 63 64 72 81

### 반복자iterator object  (반복가능 객체: 문자열 튜플 리스트 range)

#### next(반복자)함수 : 반복할것이 없으면 StopIteration이 나오며 종료 <br> 혹은 list에 정의되어있는 특수메소드 __next__()를 사용<br>iter() : 반복자로 만드는 함수 (반복가능 자료형만 가능)<br>

#### for문은 객체의 next()메소드를 내부적으로 호출한다.

### 반복자 클래스

In [66]:
#__init__, __next__, __iter__

In [67]:
#__next__ 

#t = 반복자

#### 내장함수 min max sum all any ascii bool filter iter

In [ ]:
#아니 아스키코드 ;; 파이썬에서 'A' = 65 이거 어케함