#### 10.5 다음과 같은 문장으로 된 lyrics라는 문자열이 있다. 이 문자열을 각 단어별로 구분한 후, 아래 실행 결과와 같이 이 단어와 이 단어의 길이 n에 대한 튜플 쌍으로 바꾸어 출력하여라.<br><br>(1) lyrics라는 문자열을  split()메소드로 구분하여 각 단어를 추출하여라. 이 리스트를 for문 안에서 반복하며 각 단어와 len()함수로 구한 단어의 길이를 튜플 쌍으로 만들어라.

In [5]:
lyrics = "Half of my heart is Havana"
lst = list(lyrics.split())
List = []
for s in lst:
    List.append((s,len(s)))
print(List)

[('Half', 4), ('of', 2), ('my', 2), ('heart', 5), ('is', 2), ('Havana', 6)]

#### (2) 리스트 축약 표현을 사용하여 구현하라.

In [6]:
lyrics = "Half of my heart is Havana"
print([(s,len(s)) for s in lyrics.split()])

[('Half', 4), ('of', 2), ('my', 2), ('heart', 5), ('is', 2), ('Havana', 6)]

#### 10.6 다음과 같이 10개의 정수를 가진 n_list에서 12의 배수를 모두 찾아서 new_list라는 리스트에 저장하여라.

(1) 이를 위하여 for문과 if조건식을 사용하여 문제를 해결하여라.

In [10]:
n_list = [44,66,34,24,144,98,38,568,234,345]
new_list = []
for i in n_list:
    if i%12 ==0:
        new_list.append(i)
print("n_list =",n_list)
print("new_list =",new_list)

n_list = [44, 66, 34, 24, 144, 98, 38, 568, 234, 345]
new_list = [24, 144]

(2) 이를 위하여 filter()함수와 람다 함수를 사용하여 문제를 해결하여라.

In [12]:
n_list = [44,66,34,24,144,98,38,568,234,345]
new_list = []
for i in filter(lambda x:x%12==0,n_list):
    new_list.append(i)
print("n_list =",n_list)
print("new_list =",new_list)

n_list = [44, 66, 34, 24, 144, 98, 38, 568, 234, 345]
new_list = [24, 144]

(3) 리스트 축약 표현을 이용하여 위의 문제를 해결하여라

In [13]:
n_list = [44,66,34,24,144,98,38,568,234,345]
new_list = [x for x in n_list if x%12==0]
print("n_list =",n_list)
print("new_list =",new_list)

n_list = [44, 66, 34, 24, 144, 98, 38, 568, 234, 345]
new_list = [24, 144]

#### 10.8 다음과 같이 6개의 숫자를 가진 n_list에서 최댓값과 최솟값을 출력하여라.

(1) 이때 max()와 min()이라는 파이썬 내장함수를 사용하여라.

In [14]:
n_list = [-22.3,29.44,902.2,45.7,-887.1,-56.3]
print("최댓값 : ",max(n_list))
print("최솟값 : ",min(n_list))

최댓값 :  902.2
최솟값 :  -887.1

(2) max(), min()이라는 내장함수를 사용하지 말고, my_max(), my_min()이라는 함수를 직접 구현하여 최댓값과 최솟값을 출력하여라. 직접 구현한 함수의 내부는 for문과 if문을 이용하여 최댓값, 최솟값을 찾도록 하여라.

In [2]:
def my_max(L):
    result = L[0]
    for a in L:
        if a>result:
            result = a
    return result

def my_min(L):
    result = L[0]
    for a in L:
        if a<result:
            result = a
    return result

n_list = [-22.3,29.44,902.2,45.7,-887.1,-56.3]

print("최댓값 : ",my_max(n_list))
print("최솟값 : ",my_min(n_list))

최댓값 :  902.2
최솟값 :  -887.1

(3) reduce()함수와 조건식을 사용하여 최댓값, 최솟값을 출력하여라 (힌트: reduce()함수는 functools 모듈을 import하여야 사용할 수 있음)

In [8]:
from functools import reduce

n_list = [-22.3,29.44,902.2,45.7,-887.1,-56.3]

print("최댓값 : ",reduce(lambda x,y:x if x>y else y ,n_list))
print("최솟값 : ",reduce(lambda x,y:x if x<y else y,n_list))

최댓값 :  902.2
최솟값 :  -887.1

#### 4. 교재 620 문제 10.11 <br>['one','two','three','four']의 단어로 구성된 리스트에서 다음과 같이 각 단어의 첫글자를 대문자로 하는 리스트를 생성하시오.

(1)for 문과 슬라이싱, upper() 메소드를 사용하여 문제를 해결하여라.

In [12]:
List = ['one','two','three','four']
new_list = []
for a in List:
    new_list.append(a[0].upper()+a[1:])
new_list

['One', 'Two', 'Three', 'Four']

(2) map()함수와 람다함수를 사용하여 문제를 해결하여라

In [13]:
List = ['one','two','three','four']
print(list(map(lambda x : x[0].upper()+x[1:],List)))

['One', 'Two', 'Three', 'Four']

(3) 리스트 축약 표현을 이용하여 문제를 해결하여라

In [14]:
List = ['one','two','three','four']
print([x[0].upper()+x[1:] for x in List ])

['One', 'Two', 'Three', 'Four']

#### 5. 교재 620 문제 10.14와 10.15<br> 다음과 같이 키:값의 항목을 가지는 fruits 딕셔너리를 '키 = 값' 형식으로 된 문자열의 리스트로 재구성하여라. 이 때 fruits.items()메소드를 이용하여 다음과 같이 키, 값으로 언팩이 가능하다.<br><br>

(1) fruits 딕셔너리를 for 문을 사용하여 다음과 같은 리스트로 만든 후 출력하시오

In [28]:
fruits = {'Apple':'사과','Strawberry':'딸기','Peach':'복숭아','Grape':'포도'}
List = []
for a,b in fruits.items():
    List.append(a+" = "+b)
List

['Apple = 사과', 'Strawberry = 딸기', 'Peach = 복숭아', 'Grape = 포도']

(2) fruits 딕셔너리를 map()함수와 람다함수를 사용하여 (1) 번과 같은 리스트로 만들어서 출력하시오

In [41]:
fruits = {'Apple':'사과','Strawberry':'딸기','Peach':'복숭아','Grape':'포도'}
print(list(map(lambda item : item[0]+" = "+item[1],fruits.items())))

['Apple = 사과', 'Strawberry = 딸기', 'Peach = 복숭아', 'Grape = 포도']

(3) fruits 딕셔너리를 리스트 축약 표현을 사용하여 (1)번과 같은 리스트로 만들어서 출력하시오.

In [42]:
fruits = {'Apple':'사과','Strawberry':'딸기','Peach':'복숭아','Grape':'포도'}
print([a+" = "+b for a,b in fruits.items()])

['Apple = 사과', 'Strawberry = 딸기', 'Peach = 복숭아', 'Grape = 포도']

#### 6. 교재 624 문제 10.20 <br>정수의 리스트 numbers가 다음과 같이 주어지면 앞에서부터 하나의 요소씩 얻을 수 있다. 주어진 리스트에서 처음으로 나타나는 홀수를 출력하는 프로그램을 작성해보라.

In [78]:
def first_odd(List):
    return next(iter([num for num in numbers if num % 2 == 1]), None)

numbers = [2,8,6,4,3,1,4,6,2]
print("처음으로 나타나는 홀수는 :",first_odd(numbers))

처음으로 나타나는 홀수는 : 3